* { margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --clr-nonmain: dodgerblue;
}

.wrapper {
  flex-grow: 1;
 }

.hero-section {
  padding: 50vh;
  background-image: url('https://cdn.vox-cdn.com/thumbor/mGQYyaGQpBJgswtZK3OfnIVK_0A=/0x38:1920x1043/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/12787717/Dragon_Quest_11_beginner_s_guide__0007_Layer_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

header {
  background-color: var(--clr-nonmain);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

main {
  max-width: 20rem;
  margin: 3em auto;
}

footer {
  background-color: var(--clr-nonmain);
  text-align: center;
  padding: 1em;
}
