* { margin: 0; padding: 0; box-sizing: border-box;}

:root {
  --clr-nonmain: whitesmoke;
}

.hero-section {
  padding: 50vh;
  background-image: linear-gradient(to bottom right, #afddfb, #21437b);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;
}

header {
  background-color: var(--clr-nonmain);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  box-shadow: 0 0 1em grey;
}

a {
  color: #21437b;
  font-size: 2rem;
}

p {
  padding: 1em;
  padding-left: 0;
  font-size: 2rem;
}

main {
  max-width: 20rem;
  margin: 3em auto;
}

footer {
  text-align: center;
  padding: 1em;
}
